@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #0d192b;
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 352px;
  padding: 1rem;
  margin: 1rem;
  background-color: #14253d;
  text-align: left;
  color: white;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

.img-container {
  position: relative;
}

.img-container > img {
  width: 100%;
  border-radius: 0.5rem;
}

.view-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00fff798;
  border-radius: 0.5rem;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.view-icon:hover {
  cursor: pointer;
  opacity: 1;
  border-radius: 0.5rem;
}

h1 {
  margin: 1rem 0;
}

h1:hover {
  cursor: pointer;
  color: #00fff7;
}

p#desc {
  color: #8bacda;
  font-weight: 300;
}

.info {
  margin: 1rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #2f415b;

  display: flex;
  justify-content: space-between;
}

.info-comp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-comp p {
  margin-left: 0.5rem;
}

.info-comp p#price {
  color: #00fff7;
  font-weight: 600;
}

.info-comp p#time-left {
  color: #8bacda;
}

.creator {
  display: flex;
  align-items: center;
  color: #8bacda;
}

.creator img {
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 100%;
}

.name-text {
  color: white;
}

.name-text:hover {
  cursor: pointer;
  color: #00fff7;
}
